{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">ADD NEW PROJECT </legend>
            <div class="form-group">
                {{ form.pname.label(class="form-control-label") }}
                {{ form.pname(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.pnumber.label(class="form-control-label") }}
                {{ form.pnumber(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.plocation.label(class="form-control-label") }}
                {{ form.plocation(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.dnum.label(class="form-control-label") }}
                {{ form.dnum(class="form-control form-control-lg") }}
            </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
</div>
{% endblock content %}